.jap {
  font-family: "Noto Sans Japanese", sans-serif;
}

.eng {
  font-family: "Noto Sans", sans-serif;
}

html {
  color: #000;
  font-family: "Noto Sans", sans-serif;
}

.btn-ghost {
  background-color: transparent;
  color: #005e76;
  border-color: #0084a6;
  border: 2px solid;
}

.btn-ghost:hover {
  background-color: #8bc9d9;
  color: #005e76;
  border-color: #005e76;
}

.foot {
  color: #5e5e5e;
}

.nav {
  color: #005e76;
  text-decoration: none;
  border-bottom: #0084a6;
}

.nav:hover {
  color: #005e76;
  border-bottom: #005e76;
}
