.jap {
  font-family: "Noto Sans Japanese", sans-serif;
}

.eng {
  font-family: "Noto Sans", sans-serif;
}

html {
  color: #000;
}

.btn-ghost {
  background-color: transparent;
  color: #0084a6;
  border-color: #8bc9d9;
}

.btn-ghost:hover {
  background-color: #8bc9d9;
}

@media only screen and (min-width: 60em) {

  html {
    font-family: "Noto Sans", sans-serif;
  }

}
